<om-flickering-grid [squareSize]="80">
  <div class="p-1 scroll-fade">
    <nav class="container mx-auto flex items-center justify-between">
      <a routerLink="/">
        <img src="img/datamount_{{theme()}}_sm_square_no_bg.png" class="w-12.5 lg:w-25" />
      </a>
      <div class="flex items-center gap-3">
        @if(signedIn) {
        <a hlmBtn size="lg" routerLink="/app" i18n>Dashboard</a>
        }@else {
        <a hlmBtn size="lg" routerLink="/auth/signup" routerLink="/auth/signin" i18n>Sign up</a>
        }
      </div>
    </nav>
  </div>
  <div class="flex items-center justify-center h-screen relative">
    <div class="space-y-4 container mx-auto px-3 py-10">
      <om-gradient-text
        class="flex justify-center"
        styleClass="hero-text text-center text-4xl lg:text-[5rem] font-extrabold text-foreground block py-2"
        i18n-text="site title"
        text="Next-gen real-time data insights"
      />
      <p class="text-center text-3xl" i18n>
        Manage your data in real-time from a single place, and view insights across your data with
        AI
      </p>
      <div class="flex justify-center items-center gap-x-3">
        <a hlmBtn size="lg" routerLink="/app" i18n>Get Started</a>
      </div>
    </div>
  </div>
</om-flickering-grid>
