<div hlmSidebarWrapper>
  <hlm-sidebar>
    <div hlmSidebarHeader>
      <dm-banner />
      <ul hlmSidebarMenu>
        <li hlmSidebarMenuItem>
          @defer (when !orgs.isLoading()) {
            <button hlmSidebarMenuButton [hlmDropdownMenuTrigger]="orgsMenu">
              @if (selectedOrg()?.icon; as icon) {
                <hlm-avatar size="sm">
                  <img hlmAvatarImage [src]="icon" />
                </hlm-avatar>
              }
              <span>
                @if (selectedOrg()) {
                  {{ selectedOrg()?.name }}
                } @else {
                  <ng-container i18n> Select Organization </ng-container>
                }
              </span>
              <ng-icon hlm name="lucideChevronDown" class="ml-auto" />
            </button>
            <ng-template #orgsMenu>
              <hlm-dropdown-menu class="w-60">
                @for (org of orgs.value(); track org.id) {
                  <button (click)="onSelectOrganizationButtonClicked(org.id)" hlmDropdownMenuItem>
                    <hlm-avatar>
                      <img hlmAvatarImage [src]="org.icon" />
                    </hlm-avatar>
                    <span>{{ org.name }}</span>
                    @if (selectedOrg()?.id === org.id) {
                      <ng-icon name="lucideCheck" class="ml-auto" />
                    }
                  </button>
                }
              </hlm-dropdown-menu>
            </ng-template>
          } @placeholder {
            <hlm-skeleton class="h-5 rounded-md w-full" />
          }
        </li>
      </ul>
    </div>
    <div hlmSidebarContent>
      <div hlmSidebarGroup>
        <p i18n hlmSidebarGroupLabel class="text-sm text-muted-foreground">Projects</p>
        <!-- @if(){} -->

        <div hlmSidebarGroupContent>
          <ul hlmSidebarMenu>
            @for (project of projects.value(); track project.id) {
              <li hlmSidebarMenuItem>
                <a hlmSidebarMenuButton routerLink="/projects/{{ project.id }}">
                  <hlm-avatar size="sm">
                    <img hlmAvatarImage [src]="project.icon" alt="{{ project.name }} icon" />
                  </hlm-avatar>
                </a>
              </li>
            } @empty {
              <li hlmSidebarMenuItem class="">
                <div class="text-center text-muted-foreground text-xs p-3" i18n>
                  There are no projects available
                </div>
              </li>
            }
          </ul>
        </div>
      </div>
    </div>
    <div hlmSidebarFooter>
      <ul hlmSidebarMenu>
        <li hlmSidebarMenuItem>
          @defer (when !fetchingPrincipal()) {
            <button class="py-2" hlmSidebarMenuButton [hlmDropdownMenuTrigger]="menu">
              <div class="flex items-center gap-2 py-2">
                <hlm-avatar size="sm">
                  <img
                    hlmAvatarImage
                    [src]="principal()?.photo"
                    alt="User photo"
                    i18n-alt="profile photo|User's profile photo"
                  />
                  <span hlmAvatarFallback>{{ principal()?.initials }}</span>
                </hlm-avatar>
                <span class="line-clamp-1 block">{{ principal()?.fullName }}</span>
              </div>
              <ng-icon name="lucideChevronUp" class="ml-auto" />
            </button>
          } @placeholder {
            <hlm-skeleton class="h-8 rounded-md w-full" />
          }
          <ng-template #menu>
            <hlm-dropdown-menu class="w-60">
              <a routerLink="/settings" hlmDropdownMenuItem>
                <ng-icon name="lucideSettings" />
                <span i18n>Settings</span>
              </a>
              <button (click)="onSignOutButtonClicked()" variant="destructive" hlmDropdownMenuItem>
                <ng-icon name="lucideLogOut" />
                <span i18n>Sign out</span>
              </button>
            </hlm-dropdown-menu>
          </ng-template>
        </li>
      </ul>
    </div>
  </hlm-sidebar>
  <main hlmSidebarInset class="overflow-auto relative">
    <header class="p-2 flex items-center gap-3 sticky top-0 backdrop-blur-md">
      <button type="button" hlmSidebarTrigger></button>
    </header>
    <router-outlet />
  </main>
</div>

<hlm-dialog>
  <button hlmDialogTrigger hlmBtn variant="outline">Open Dialog</button>
  <hlm-dialog-content *hlmDialogPortal="let ctx">
    <hlm-dialog-header>
      <h3 hlmDialogTitle>Edit profile</h3>
      <p hlmDialogDescription>Make changes to your profile here. Click save when you're done.</p>
    </hlm-dialog-header>
    <hlm-dialog-footer>
      <button hlmBtn variant="outline" hlmDialogClose>Cancel</button>
      <button hlmBtn type="submit">Save changes</button>
    </hlm-dialog-footer>
  </hlm-dialog-content>
</hlm-dialog>
