<div
  class="flex h-1/2 shadow-lg rounded-lg relative z-20 bg-white/10 dark:bg-black/10 backdrop-blur min-w-[25vw] max-w-[80vw] border border-muted"
>
  <div class="px-3 py-6 grid grid-cols-[auto_1fr] items-start gap-x-3">
    <div class="rounded-md bg-black flex items-center justify-center">
      <img src="/img/datamount_dark_sm_square_no_bg.png" width="50" />
    </div>
    <div class="space-y-1">
      <h2 class="text-lg font-bold">Data Mount</h2>
      <p class="text-muted-foreground text-sm">Data on the move</p>
    </div>
  </div>
  <div>
    <router-outlet />
  </div>
</div>
<om-flickering-grid class="z-10 w-full h-full absolute top-0 left-0 pointer-events-none" />
